
\.idea/

venv/

config/__pycache__/

core/modules/__pycache__/

core/processing/__pycache__/

core/processing/file/__pycache__/

core/processing/graph/__pycache__/

core/processing/identification/__pycache__/

core/processing/macro/__pycache__/
