
\.idea/

view/__pycache__/

view/ajax/__pycache__/

view/ui/__pycache__/

config/__pycache__/

core/__pycache__/

core/processing/__pycache__/

core/processing/config_parsing/__pycache__/

core/processing/file/__pycache__/

core/analysis/__pycache__/

core/analysis/cryptam/__pycache__/

core/analysis/doc_info/__pycache__/

core/analysis/embedded_objects/__pycache__/

core/analysis/identification/__pycache__/

core/analysis/identification/filesize/__pycache__/

core/analysis/archive/__pycache__/

core/analysis/identification/filetype/__pycache__/

core/analysis/identification/hashes/__pycache__/

core/analysis/ooxml/__pycache__/

core/analysis/virustotal/__pycache__/

core/analysis/macro/__pycache__/

storage/report/
