<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Sharingan">
    <meta name="author" content="Muhammad Abdullah Mughal">

    <title>{% block page_title %}{% endblock %}</title>

    <link href="static/css/coreui-icons.min.css" rel="stylesheet">
    <link href="static/css/simple-line-icons.css" rel="stylesheet">

    <link href="static/css/style.css" rel="stylesheet">
    <link href="static/css/pace.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">

    {% block css_links %}{% endblock %}
    <style>
            {% block css_style %}{% endblock %}



    </style>

    <script>
            {% block js_content %}{% endblock %}


    </script>
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed pace-done brand-minimized sidebar-minimized sidebar-lg-show">
<div class="pace  pace-inactive pace-inactive">
    <div class="pace-progress" data-progress-text="100%" data-progress="99"
         style="transform: translate3d(100%, 0px, 0px);">
        <div class="pace-progress-inner"></div>
    </div>
    <div class="pace-activity"></div>
</div>
<header class="app-header navbar">
    <a class="navbar-brand" href="#">
        <img class="navbar-brand-full" src="static/images/fav.svg" width="89" height="25" alt="Sharingan">
        <img class="navbar-brand-minimized" src="static/images/fav.svg" width="30" height="30" alt="Sharingan">
    </a>
    <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
        <span class="navbar-toggler-icon"></span>
    </button>
    <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="nav navbar-nav d-md-down-none">

    </ul>
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item dropdown d-md-down-none">
            <a class="nav-link" data-toggle="dropdown" href="https://github.com/iAbdullahMughal/Sharingan"
               aria-haspopup="true"
               aria-expanded="false">
                <i class="icon-social-github"></i>
                <span class="badge badge-pill badge-danger">code</span>
            </a>
        </li>
        <li class="nav-item dropdown d-md-down-none">
            <a class="nav-link" data-toggle="dropdown" href="https://twitter.com/iabdullahmughal" aria-haspopup="true"
               aria-expanded="false">
                <i class="icon-social-twitter"></i>
            </a>
        </li>
        <li class="nav-item dropdown d-md-down-none">
            <a class="nav-link" data-toggle="dropdown" href="https://www.iabdullahmughal.com" aria-haspopup="false"
               aria-expanded="false">
                <i class="icon-globe"></i>
            </a>
        </li>
        <li class="nav-item dropdown d-md-down-none"></li>
    </ul>
</header>
<div class="app-body">
    <div class="sidebar">
        <nav class="sidebar-nav ps ps--active-y">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" href="/">
                        <i class="nav-icon icon-speedometer"></i>Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sample_upload">
                        <i class="nav-icon icon-cloud-upload"></i>Upload Sample
                    </a>
                </li>
            </ul>
            <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
            </div>
            <div class="ps__rail-y" style="top: 0px; height: 505px; right: 0px;">
                <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 214px;"></div>
            </div>
        </nav>
    </div>
    <main class="main">
        <ol class="breadcrumb">

        </ol>
        <div class="container-fluid">
            <div id="ui-view">
                <div class="animated fadeIn">
                    {% block ui %} {% endblock %}
                </div>
            </div>
        </div>
    </main>
</div>

<footer class="app-footer">
    <div class="ml-auto">
        <span>Sharingan | Draw office macro code </span>
    </div>
</footer>
{% block js_links %}{% endblock %}

</body>
</html>