{% extends 'base/layout.html' %}
{% block page_title %}Output of sample{% endblock %}
{% block css_links %}
<link rel="stylesheet" href="static/css/mermaid.css">

{% endblock %}

{% block ui %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Basic Sample Information
                <small>Some basic information related to sample.</small>
            </div>
            <div class="card-body">
                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                    <tbody>
                    <tr>
                        <td><i class="icon-book-open icons"></i></td>
                        <td>Sample Name</td>
                        <td>{{sample_info.file_name}}</td>
                    </tr>
                    <tr>
                        <td></i></td>
                        <td>Sample Extension</td>
                        <td>{{sample_info.file_extension}}</td>
                    </tr>
                    <tr>
                        <td><i class="icon-magic-wand icons"></i></td>
                        <td>Magic Information</td>
                        <td>{{sample_info.magic}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Identified Extension</td>
                        <td>{% for ext in sample_info.extension %} <span class="badge badge-dark">{{ext}}</span> {%
                            endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Macro Information</td>
                        <td>{% if sample_info.has_macro %} <span class="badge badge-danger">Contains Macro</span> {%
                            else %} <span class="badge badge-success">No Macro</span> {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% if ui_data.function_calls %}
        <div class="card">
            <div class="card-header">
                <i class="nav-icon icon-graph" aria-hidden="true"></i> Macro Function Call Flow
                <small> Click function name to view the code</small>
            </div>
            <div id="ex1" class="modal">
                <pre id="code"></pre>
            </div>
            <div>
                <div class="mermaid">
                    graph TB
                    {{ui_data.function_calls}}
                </div>

                <script>
                {{ui_javascript }}
                var callback = function()
                {
                   $('#ex1').modal({
                    closeExisting: false
                    });
               }









                </script>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <i class="nav-icon icon-graph" aria-hidden="true"></i> Macro Code Details
                <small> Macro code details.</small>
            </div>
            <div>
                <div class="animated fadeIn">
                    <div class="email-app mb-4">
                        <nav>
                            <ul class="nav">
                                <li class="nav-item  active show">
                                    <a class="nav-link" id="suspicious-tab" data-toggle="tab" href="#suspicious"
                                       role="tab"
                                       aria-controls="suspicious" aria-selected="true">
                                        <i class="icon-puzzle"></i> Suspicious Strings
                                        <span class="badge badge-danger">{{sample_info.suspicious_counter}}</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="autostart-tab" data-toggle="tab"
                                       href="#autostart" role="tab" aria-controls="autostart" aria-selected="false">
                                        <i class="icon-ghost icons"></i> Auto Start
                                        <span class="badge badge-danger">{{sample_info.autoexe_counter}}</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="base64-tab" data-toggle="tab" href="#base64" role="tab"
                                       aria-controls="base64" aria-selected="false">
                                        <i class="icon-key"></i> Base64 Strings
                                        <span class="badge badge-warning">{{sample_info.base64_counter}}</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="dridex-tab" data-toggle="tab" href="#dridex" role="tab"
                                       aria-controls="dridex" aria-selected="false">
                                        <i class="icon-paper-plane"></i> Dridex Strings
                                        <span class="badge badge-warning">{{sample_info.dridex_counter}}</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="hex-tab" data-toggle="tab" href="#hex" role="tab"
                                       aria-controls="hex" aria-selected="false">
                                        <i class="icon-shuffle"></i> Hex Strings
                                        <span class="badge badge-warning">{{sample_info.hex_string_counter}}</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="patterns-tab" data-toggle="tab" href="#patterns" role="tab"
                                       aria-controls="patterns" aria-selected="false">
                                        <i class="icon-chemistry"></i> Patterns
                                        <span class="badge badge-warning">{{sample_info.patterns_counter}}</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <main class="message">
                            <div class="details">
                                <div class="tab-content" id="macro_content_details">
                                    <div class="tab-pane fade active show" id="suspicious" role="tabpanel"
                                         aria-labelledby="suspicious-tab">
                                        <div class="title">Known suspicious strings and code in macro code</div>
                                        <div class="content">
                                            <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                                <tbody>
                                                {% for suspicious in sample_info.suspicious %}
                                                <tr>
                                                    <td>{{suspicious.key}}</td>
                                                    <td>{{suspicious.value}}</td>
                                                </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="autostart" role="tabpanel"
                                         aria-labelledby="autostart-tab">
                                        <div class="title">Auto start macro used in document.</div>
                                        <div class="content">
                                            <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                                <tbody>
                                                {% for autostart in sample_info.autoexe %}
                                                <tr>
                                                    <td>{{autostart.key}}</td>
                                                    <td>{{autostart.value}}</td>
                                                </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                    <div class="tab-pane fade" id="base64" role="tabpanel"
                                         aria-labelledby="base64-tab">
                                        <div class="title">Base64 encoded strings in macro</div>
                                        <div class="content">
                                            <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                                <tbody>
                                                {% for base64 in sample_info.base64 %}
                                                <tr>
                                                    <td>{{base64.key}}</td>
                                                    <td>{{base64.value}}</td>
                                                </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                    <div class="tab-pane fade" id="dridex" role="tabpanel"
                                         aria-labelledby="dridex-tab">
                                        <div class="title">Dridex encoded strings in macro code</div>
                                        <div class="content">
                                            <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                                <tbody>
                                                {% for dridex in sample_info.dridex %}
                                                <tr>
                                                    <td>{{dridex.key}}</td>
                                                    <td>{{dridex.value}}</td>
                                                </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="hex" role="tabpanel"
                                         aria-labelledby="hex-tab">
                                        <div class="title">Hex encoded strings in macro code</div>
                                        <div class="content">
                                            <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                                <tbody>
                                                {% for hex_string in sample_info.hex_string %}
                                                <tr>
                                                    <td>{{hex_string.key}}</td>
                                                    <td>{{hex_string.value}}</td>
                                                </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="patterns" role="tabpanel"
                                         aria-labelledby="patterns-tab">
                                        <div class="title">Known string patterns in macro code</div>
                                        <div class="content">
                                            <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                                <tbody>
                                                {% for patterns in sample_info.patterns %}
                                                <tr>
                                                    <td>{{patterns.key}}</td>
                                                    <td>{{patterns.value}}</td>
                                                </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </main>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Extracted Macro Code
                <small>Following is extracted macro code from document.</small>
            </div>
            <div data-spy="scroll" class="card-body">
                <pre>{{sample_info.extracted_macro}}</pre>
            </div>
        </div>
        {% endif %}

    </div>

</div>
{% endblock %}
{% block js_links %}
<script src="static/js/mermaid.min.js"></script>
<script>mermaid.initialize({startOnLoad:true});</script>

<script src="static/js/jquery/jquery.min.js"></script>
<script src="static/js/popper.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/pace.min.js"></script>
<script src="static/js/perfect-scrollbar.min.js"></script>
<script src="static/js/coreui.min.js"></script>


<!-- jQuery Modal -->
<script src="static/js/jquery.modal.min.js"></script>
<link rel="stylesheet" href="static/js/jquery.modal.min.css"/>
{% endblock %}
