{% extends 'base/layout.html' %}
{% block page_title %}Upload sample for analysis{% endblock %}
{% block css_links %}
<link href="static/vendor/showLoading/css/showLoading.css" rel="stylesheet">
{% endblock %}
{% block ui %}
<div id="uploading_sample" class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">Upload sample for analysis</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <form class="align-middle" id="upload-file" method="post" enctype="multipart/form-data">

                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="file-input">File input</label>
                                <div class="col-md-9">
                                    <input id="file-input" type="file" name="file">
                                </div>
                            </div>
                            <div class="card-footer">
                                <fieldset>
                                    <button class="btn btn-sm btn-primary" id="upload-file-btn" type="button">
                                        <i class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                                </fieldset>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="failed" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-danger" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Unable to process sample.</h4>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>We are unable to process file. It looks like file doesn't belongs to office supported
                                file type. If it's an issue please report a ticket.</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js_links %}
<script src="static/js/datatable/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/popper.min.js"></script>
<script src="static/js/pace.min.js"></script>
<script src="static/js/perfect-scrollbar.min.js"></script>
<script src="static/js/coreui.min.js"></script>
<script src="static/js/sharingan/file_upload.js"></script>
<script src="static/vendor/showLoading/js/jquery.showLoading.min.js"></script>

{% endblock %}